/* INICIO DA ESTRUTURA DO SITE */
* {
	margin:0;
	padding:0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imagens/fundo.png) repeat-x;
}
/* FIM DA ESTRUTURA DO SITE */

/* INICIO DA BARRA DE NAVEGAÇÃO */
a:link, a:visited {
	color: #b10333;
	padding: 2px;
	border-radius: 10px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul {
	border-radius: 10px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 40px;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover {
	color: #294c71;
}

body.home #navegacao a#home,
body.sobre #navegacao a#sobre, 
body.contato #navegacao a#contato
{
	color: black;
	background: white;
}


#navegacao{
	margin-left: 200px;
}
/* FIM DA BARRA DE NAVEGAÇÃO */

/* INICIO LOGO */
.logo {
	margin-left: 90px;
	margin-top: 10px;
	width: 152px;
	height: 66px;
	background: url(../imagens/logo.png) no-repeat center;
	text-indent: -3000px;
}
/* FIM DO LOGO */

/* INICIO DO FORMULARIO */
input[type=text]{   
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc; 
    border:1px solid #000000;
    width:150px
}
       
textarea{
    border: 1px solid #000000;
    background:#cccccc;
    width:380px;
    height:130px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px blue;    
    -moz-box-shadow: 1px 1px 2px blue;
    -webkit-box-shadow: 1px 1px 2px blue;
}
       
input[type=text]:hover, textarea:hover{ 
    background: #ffffff; border:1px solid black;
}
       
button[type=submit]{
	width: 70px;
	height: 20px;
    background:#191970;
    border-color: #1C1C1C;
    color:#ffffff;
    border-radius: 5px;
}      

#paidetodos{
	padding: 10px;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: -3vw; 
}

.form{
    padding: 2px;
    border: 1px solid #000000;
    background:gray;
    width:380px;
    height:130px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px blue;    
    -moz-box-shadow: 1px 1px 2px blue;
    -webkit-box-shadow: 1px 1px 2px blue;
}

input[type=text]{
    background:#BEBEBE;
    border-color: #1C1C1C;
}


select{
    background:#BEBEBE;
    border-color: #1C1C1C;
    color: #4876FF;
}
/* FIM DO FORMULARIO */

/*INICIO DO RODAPE*/
#container-rodape {
	background: #294c71;
	padding: 20px;
}

#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
}
/* FIM DO RODAPE */

/* Formatando cabeçalhos */
h3 {
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}
